*background: #121212
*foreground: #EEEEEE

urxvt*font: xft:Monaco:size=10:antialias=true
urxvt*scrollBar: false
urxvt*borderless: 1

urxvt*transparent: false
urxvt*shading: 20

! BLACK
urxvt*color0: #000000
urxvt*color8: #606060
! RED
urxvt*color1: #D04848
urxvt*color9: #D04848
! GREEN
urxvt*color2: #73EC8B
urxvt*color10: #73EC8B
! YELLOW
urxvt*color3: #FCDE70
urxvt*color11: #FCDE70
! BLUE
urxvt*color4: #7AB2D3
urxvt*color12: #7AB2D3
! MAGENTA
urxvt*color5: #AF4D98
urxvt*color13: #AF4D98
! CYAN
urxvt*color6: #6FFFE9
urxvt*color14: #6FFFE9
! WHITE
urxvt*color7: #EEEEEE
urxvt*color15: #F3F3F3
